*
{font-family: "Helvetica Neue",Arial,sans-serif;}

.box
{display: grid;
width: 1300px;
height: 750px;
grid-template-columns: 460px 350px 350px;
grid-template-rows: 1fr 1fr;
align-items: center;
border-radius: 4px;
justify-content: space-around;
text-align: center;
background-image: url(liege.jpg);
background-size: cover;
}

.section
{border-radius: 12px;
background-color: silver;
}

.line
{line-height: 1.5;}

ul
{list-style: none;
text-align: center;}

img
{width: 300px;
height: 300px;
object-fit: contain;
margin-left: auto;
margin-right: auto;}

h2
{font-variant: small-caps;
text-align: center;}

a
{text-decoration: none;}

